<div class="container_12">
	<div class="grid_7"><span class="end-head-heading2">SISTEM INFORMASI AKADEMIK KAMPUS</span><span class="end-head-heading1"><br><%= nama_kampus %><br></span></div>
	<div class="grid_4" style="text-align:right">
		Selamat Datang <b><%= current_student.nama_lengkap %></b><br>
		<b><%= current_student.nim %></b> | <%= link_to 'Logout', keluar_path %><br><%= hari_ini %></div>
	<div class="clear"></div>
</div>