<div id="menu2" class="menu">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Biodata', users_biodata_path %></li>
		<li><%= link_to 'Password', users_password_path %></li>
		<li><%= link_to 'KRS', krs_daftar_path %></li>
		<li><%= link_to 'Print KRS/KHS', krs_print_path %></li>
		<li><%= link_to 'Transkrip Nilai', krs_transkrip_path %></li>
	</ul>
</div>