
<div ="title-sks">Mata Kuliah yang telah di ambil di Semester <b><%= @smtMhs%></b></div>
<br>
	<table id="table-1">
		<tr>
			<th>No. </th>
			<th>Kode Mata Kuliah</th>
			<th>Nama Mata Kuliah</th>
			<th>SKS</th>
			<th>Aksi</th>
		</tr>
		<% counter = 0 %>
		<% card_plans.each do |krs| %>
		<tr>
			<td><%= counter += 1 %></td>
			<td><%= krs.teaching.subject.kode %></td>
			<td><%= krs.teaching.subject.nama %></td>
			<td align="center"><%= krs.teaching.sks %></td>
			<td id="aksi">
				<%= form_tag mahasiswa_hapus_krs_path, method: :get do %>
					<%= hidden_field_tag 'id', @mahasiswa.id %>
					<%= hidden_field_tag 'krs_id', krs.id %>
					<%= submit_tag 'Hapus' %>
				<% end %>
			</td>
		</tr>
		<% end %>
		<tr>
			<td colspan="3" align="center"><b>Total</b></td>
			<% z = 0; card_plans.each { |n| z+= n.teaching.sks } %>
			<td align="center"><b><%= z %></b></td>
			<td></td>
		</tr>
	</table>
	<br />
	<div id="total_sks">Total <b><%= z %> SKS<b></div>