<div id="title-mhs">Ubah Password</div>

<div id="warning">
<b>Peringatan!!!</b><br>
Mengubah password Mahasiswa akan mempengaruhi login Mahasiswa ke dalam sistem<br>
</div>

<div id="form">
<%= form_tag action: 'simpan_password' %>
	<div id="form-label">NIM</div>
	<div id="form-input">: <%= @mahasiswa.nim %></div>
	<div id="clear"></div>
	<div id="form-label">Nama</div>
	<div id="form-input">: <%= @mahasiswa.nama_lengkap %></div>
	<div id="clear"></div>
	<div id="form-label">Prodi</div>
	<div id="form-input">:  <%= @mahasiswa.prodi_strata %></div>
	<div id="clear"></div>
	<div id="form-label">Password</div>
	<div id="form-input"><%= password_field_tag 'student[password]' %> *Minimal 8 Karakter</div>
	<div id="clear"></div>
	<div id="form-label">Konfirmasi Password</div>
	<div id="form-input"><%= password_field_tag 'student[password_confirmation]' %></div>
	<div id="clear"></div>
</div>
<div id="form-submit"><%= submit_tag 'Ubah Password' %></div>