<p id="notice"><%= notice %></p>

<p>
  <b>Nim:</b>
  <%= @student.nim %>
</p>

<p>
  <b>Nama depan:</b>
  <%= @student.nama_depan %>
</p>

<p>
  <b>Nama belakang:</b>
  <%= @student.nama_belakang %>
</p>

<p>
  <b>Tempat lahir:</b>
  <%= @student.tempat_lahir %>
</p>

<p>
  <b>Tanggal lahir:</b>
  <%= @student.tanggal_lahir %>
</p>

<p>
  <b>Religion:</b>
  <%= @student.religion %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Tahun masuk:</b>
  <%= @student.tahun_masuk %>
</p>

<p>
  <b>College:</b>
  <%= @student.college %>
</p>

<p>
  <b>Courses:</b>
  <%= @student.course %>
</p>

<p>
  <b>Guide:</b>
  <%= @student.guide %>
</p>

<p>
  <b>Ayah nama:</b>
  <%= @student.ayah_nama %>
</p>

<p>
  <b>Ayah pekerjaan:</b>
  <%= @student.ayah_pekerjaan %>
</p>

<p>
  <b>Ayah golongan:</b>
  <%= @student.ayah_golongan %>
</p>

<p>
  <b>Ibu nama:</b>
  <%= @student.ibu_nama %>
</p>

<p>
  <b>Ibu pekerjaan:</b>
  <%= @student.ibu_pekerjaan %>
</p>

<p>
  <b>Ibu golongan:</b>
  <%= @student.ibu_golongan %>
</p>

<p>
  <b>Alamat:</b>
  <%= @student.alamat %>
</p>

<p>
  <b>Kota:</b>
  <%= @student.kota %>
</p>

<p>
  <b>Tahun lulus:</b>
  <%= @student.tahun_lulus %>
</p>

<p>
  <b>Lulusan:</b>
  <%= @student.lulusan %>
</p>

<p>
  <b>No ijazah:</b>
  <%= @student.no_ijazah %>
</p>

<p>
  <b>Alamat sekolah:</b>
  <%= @student.alamat_sekolah %>
</p>

<p>
  <b>Nem:</b>
  <%= @student.nem %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
