<%= form_tag action: 'simpan_student' do %>

 	<div id="form-2"> 
		<fieldset id="0"> 
			<legend>Data Umum</legend>
				<div id="form-label2">NIM </div> 
				<div id="form-input"><b style="color:red"><%= @mahasiswa.nim %></b></div> 
				<div id="clean"></div>
				<div id="form-label2">Nama Depan</div> 
				<div id="form-input"><%= text_field :mahasiswa, :nama_depan %></div> 
				<div id="clean"></div>
				<div id="form-label2">Nama Belakang</div> 
				<div id="form-input"><%= text_field :mahasiswa, :nama_belakang %></div> 
				<div id="clean"></div>
				<div id="form-label2">Tempat Lahir</div> 
				<div id="form-input"><%= text_field :mahasiswa, :tempat_lahir %></div> 
				<div id="clean"></div>
				<div id="form-label2">Tanggal Lahir</div> 
				<div id="form-input"><%= date_select :mahasiswa, :tanggal_lahir, {start_year: Time.now.year - 40, end_year: Time.now.year - 15} %></div> 
				<div id="clean"></div>
				<div id="form-label2">Agama</div> 
				<div id="form-input"><%= collection_select(:mahasiswa, :religion_id, Religion.all, :id, :nama) %></div> 
				<div id="clean"></div>
				<div id="form-label2">Jenis Kelamin</div> 
				<div id="form-input"><%= collection_select(:mahasiswa, :gender_id, Gender.all, :id, :nama) %></div> 
				<div id="clean"></div>
		</fieldset>
		<fieldset> 
			<legend>Data Akademik</legend>
				<div id="form-label2">Tahun Angkatan</div> 
				<div id="form-input"><%= text_field_tag :tahun_masuk %></div> 
				<div id="clean"></div>
				<div id="form-label2">Perguruan Tinggi</div> 
				<div id="form-input"><%= collection_select(:mahasiswa, :college_id, College.all, :id, :nama) %></div> 
				<div id="clean"></div>
				<div id="form-label2">Program Studi</div> 
				<div id="form-input"><%= collection_select(:mahasiswa, :course_id, Course.all, :id, :nama) %></div> 
				<div id="clean"></div>
		</fieldset>
		<fieldset> 
			<legend>Orang Tua</legend>
				<fieldset> 
					<legend>Ayah</legend>
						<div id="form-label2">Nama</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ayah_nama %></div> 
						<div id="clean"></div>
						<div id="form-label2">Pekerjaan</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ayah_pekerjaan %></div> 
						<div id="clean"></div>
						<div id="form-label2">Golongan</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ayah_golongan %></div> 
						<div id="clean"></div>
				</fieldset>
				<fieldset> 
					<legend>Ibu</legend>
						<div id="form-label2">Nama</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ibu_nama %></div> 
						<div id="clean"></div>
						<div id="form-label2">Pekerjaan</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ibu_pekerjaan %></div> 
						<div id="clean"></div>
						<div id="form-label2">Golongan</div> 
						<div id="form-input"><%= text_field :mahasiswa, :ibu_golongan %></div> 
						<div id="clean"></div>
				</fieldset>
		</fieldset>
		<fieldset> 
			<legend>Alamat Sekarang</legend>
				<div id="form-label2">Alamat</div> 
				<div id="form-input"><%= text_area :mahasiswa, :alamat, rows: 6 %></div> 
				<div id="clean"></div>
				<div id="form-label2">Kota</div> 
				<div id="form-input"><%= text_field :mahasiswa, :kota %></div> 
				<div id="clean"></div>
		</fieldset>
		<fieldset> 
			<legend>Data Lulusan</legend>
				<div id="form-label2">Tahun Lulus</div> 
				<div id="form-input"><%= text_field :mahasiswa, :tahun_lulus %></div> 
				<div id="clean"></div>
				<div id="form-label2">Lulusan</div> 
				<div id="form-input"><%= text_field :mahasiswa, :lulusan %></div> 
				<div id="clean"></div>
				<div id="form-label2">No. Ijazah</div> 
				<div id="form-input"><%= text_field :mahasiswa, :no_ijazah %></div> 
				<div id="clean"></div>
				<div id="form-label2">Alamat Sekolah</div> 
				<div id="form-input"><%= text_area :mahasiswa, :alamat_sekolah, rows: 6 %></div> 
				<div id="clean"></div>
				<div id="form-label2">NEM</div> 
				<div id="form-input"><%= text_field :mahasiswa, :nem %></div> 
				<div id="clean"></div>
		</fieldset>
	</div> 
	<div id="actions"> 
		<%= submit_tag "Input Mahasiswa", class: 'button blue' %>
	</div> 
<% end %>



