<div id="box" class="grid_5">
	<div id="box-menu" style="width:360px">Ubah Password</div>
	<p>Mengubah password Mahasiswa akan mempengaruhi login Mahasiswa ke dalam sistem.</p>
</div>
<div class="clear"></div>


<div id="box" class="grid_12">
<%= form_tag action: 'simpan_password' do %>
	<div id="form-label2">NIM</div>
	<div id="form-input">: <%= @mahasiswa.nim %></div>
	<div id="clean"></div>
	<div id="form-label2">Nama</div>
	<div id="form-input">: <%= @mahasiswa.nama_lengkap %></div>
	<div id="clean"></div>
	<div id="form-label2">Program Studi</div>
	<div id="form-input">: <%= @mahasiswa.prodi_strata %></div>
	<div id="clean"></div>
	<div id="form-label2">Password</div>
	<div id="form-input"><%= password_field :mahasiswa, :password %></div>
	<div id="clean"></div>
	<div id="form-label2">Konfirmasi Password</div>
	<div id="form-input"><%= password_field :mahasiswa, :password_confirmation %></div>
	<div id="clean"></div>
</div>

<div class="clear"></div>
<div class="grid_4" style="margin-top:10px"><%= submit_tag 'Ubah Password', class: 'button blue' %></div>
<% end %>