<p id="notice"><%= notice %></p>

<p>
  <b>Hari:</b>
  <%= @schedule.hari %>
</p>

<p>
  <b>Jam:</b>
  <%= @schedule.jam %>
</p>

<p>
  <b>Room:</b>
  <%= @schedule.room %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
